<!DOCTYPE html>
<html>
    <body>



{% block content %}{% endblock %}

    	<h1>1</h1>
  	<h1>Nissan Kicks</h1>
  	<h1>Engine</h1><br>
  	<p>The Kicks is equipped with Nissan's HR16DE 1.6L I4 gasoline engine shared with the Versa. This motor generates 125 hp and 115 lb-ft/155 Nm torque. Nissan rates this engine to receive an EPA fuel economy rating of 31 miles per gallon city and 36 miles per gallon highway.
	The Chinese version uses Nissan's HR15DE 1.5L I4 gasoline engine. </p><br>
	<h1>Transmission</h1><br>
	<p>The Kicks is offered with either a five-speed manual transmission or Nissan's X-Tronic CVT; the latter being the only option in the U.S. market.</p>
	<br>
	<br>
	<br>
	<h1>2</h1><br>
	<h1>Nissan Terra</h1>
	<h1>Overview</h1>
	<p>The Terra is based on the D23 Navara pickup truck. The official details of the vehicle were revealed on 15 March 2018 and was unveiled in the following month. It was launched to the public at the April 2018 Auto China. The Terra is currently positioned in size between the X-Trail/Rogue compact crossover and Patrol/Armada full-size SUV and competes with the Toyota Fortuner, Mitsubishi Montero Sport/Pajero Sport, Ford Everest, Chevrolet Trailblazer and Isuzu MU-X. The car fills the position left by the third generation Pathfinder that sold between 2005 and 2012. It also replaces the Paladin in China. The name "Terra" is Latin for "earth".

The Terra has three engine options: a 2.5 L QR25DE I4 petrol engine that produces 134 kW (180 hp; 182 PS) at 6,000 rpm and 251 N⋅m (185 lbf⋅ft) of torque at 4,000 rpm, a 2.3 L twin-turbocharged YS23DDTT or 2.5 L YD25DDTi I4 diesel engines that both produce 140 kW (188 hp; 190 PS) at 3,600 rpm or 3,750 rpm and 450 N⋅m (330 lbf⋅ft) of torque at 2,000 rpm or 1,500–2,500 rpm respectively. The engines are mated to a 6-speed manual or 7-speed automatic transmission. The ground clearance is measured at 225 mm (8.9 in).[3][4][5]

On 28 May 2018, the Terra was launched in the Philippines. It gets a 2.5-liter diesel engine option. Compared to the Chinese version, it is 15 mm (0.6 in) wider, 3 mm (0.1 in) longer and seats 7 (compared to 5). It is offered in five trim options.[2]

The Terra was launched in Indonesia on 2 August 2018 at the 26th Gaikindo Indonesia International Auto Show. It has the same specs as the Philippines version.[6] Their prices were announced on 22 October 2018, starts from 34676 USD, and sales began on 21 December 2018.

The Terra was launched in Thailand on 16 August 2018. It uses the 2.3 L diesel engine option to comply with Thailand excise tax structure.[7][8][9] The 2.3 L engine, YS23DDTT produces less CO2 pollution than the 2.5 L YD25DDTi engine, precisely 196 g/km which is lower than the 200 g/km limit regulated by the Thai government to get a 5% tax incentive</p><br>

<h1>3</h1>
<h1> Nissan Clipper</h1>
<p>This had begun with the AKTG Prince Cabover truck of May 1954, with the Clipper label first introduced on the 1.5-litre AQTI series of October 1958.[1] The Clipper featured a distinct frontal treatment, with six oval openings for cooling. In February 1961, the BQTI "Super Clipper" with a larger 1.9-litre engine was added to the lineup. In January 1963 the modified T630/T631 Clipper/Super Clipper was introduced, featuring quadruple headlights. Engines remained the same as before, albeit with a bit more power: a 73 PS (54 kW) 1,484 cc four for the T630 and a 1,862 cc unit with 96 PS (71 kW) for the T631 Super Clipper.[2]

In April 1966, following the merger of Nissan and Prince's operations, the truck was renamed Nissan Prince Clipper (T65), where it was exclusive to Japanese Nissan dealerships called Nissan Prince Store locations. Again, the front treatment was unusual; the front featured four large chrome-ringed ovals, two of which were for cooling and two held the lights. The T65 also received a 1,982 cc Nissan H20 four-cylinder petrol engine.[2] In January 1973 the new T40 series replaced the T631, but it was short-lived. The diesel model has chassis codes beginning with YT40. The next (and last) generation Clipper was the C340 of May 1976, but this was merely a rebadged Nissan Caball. The line came to an end in December 1981, when Nissan's commercial truck range was rationalized. The H40 Nissan Atlas replaced both the Clipper and the Caball.[1] </p><br>


<h1>4</h1>
<h1>Nissan AD</h1>
<p>In October 1982, the AD Van supplemented (and also gradually replaced) the commercial delivery vans based on Nissan's other vehicles. In 1983, the Nissan Cedric van was discontinued, as was the Nissan Gloria van. It originally came with four front doors and a liftback hatch in back. In July 1983 a two-door version was introduced, meaning that the earlier B310 Sunny Van could finally be retired. The AD range was based on the B11 series Nissan Sunny wagon but has a more square-rigged and utilitarian appearance. </p><br>


<h1>5</h1>
<h1>Renault Master</h1>
<p>The Renault Master is an upper medium size van produced by the French manufacturer Renault since 1980, now in its third generation. It replaced the earlier Saviem SG3 light trucks.[1] Opel has sold versions of the second and third series vans as the Opel Movano in Continental Europe and Vauxhall Movano in the United Kingdom. All three generations have been designed and manufactured by Renault, irrespective of the brand.

Over its lifetime several different body styles have been available, from the standard van to bigger models with an increased load area, height, and longer wheelbases with an LWB prefix. Panel vans are very common, but pickups are also available. Heavier duty models of the Master were also sold by (now Volvo owned) Renault Trucks as the B series, later as the Messenger and the Mascott.  </p><br>









  	
	
  </body>
</html>
