<html>  
<head> 
</head>  
<body>  

<form method = "post" action = "http://127.0.0.1:5000/success">  
<fieldset>
  <legend>Contact Details</legend>
  Name: <input type="text" name='name1'><br>
  Telephone: <input type="text" name='tele'><br>
  Email Id: <input type="text" name='email'><br>
</fieldset>
<fieldset>
<legend>Personal Information</legend>
  Age: <input type="text" name='age'><br>
  Gender: <input type="text" name='gender'><br>
  When did you first know you wanted to be a zoo-keeper?<input type="text" name='box'>
</fieldset>
 <fieldset>
<legend>pick Your favorite Animals</legend>
  <input type="checkbox" name="v1" value='Zebra' >Zebra
  <input type="checkbox" name="v1" value='Cat'>Cat
  <input type="checkbox" name="v1" value='Anaconda'  >Anaconda
  <input type="checkbox" name="v1" value='Human' >Human<br>
  <input type="checkbox" name="v1"  value='Elephant'>Elephant
  <input type="checkbox" name="v1" value='Wildebeest' >Wildebeest
  <input type="checkbox" name="v1" value='Crab'>Crab<br>
</fieldset>
  <tr><td><input type = "submit" value = "Submit"></td></tr>  
</form>  
</body>  
</html>  
