<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Say hello</title>
</head>
<body>
<form action="/home">

<p> Title&nbsp;<select ><option value="volvo">Mr</option>
    <option value="saab">Mrs</option></select></p>

<p>Name <input  type='text' placeholder='Name'></p>	
<p>City <input type='text' placeholder='City'></p>
<p>Country <input type='text' placeholder='Country'></p>
<p>Telephone <input type='text' placeholder='Telephone'></p>

<p>Please Inform us of your interest</p>
<input type="checkbox" name="vehicle1" value="Bike">Sports<br>
<input type="checkbox" name="vehicle2" value="Car">Music<br>
<input type="checkbox" name="vehicle3" value="Boat" >reading<br>
<input type="checkbox" name="vehicle3" value="Boat">Tv and Flim<br>

<p>Your Age</p>
<input type="radio" name="gender" value="male" checked>Less Than 25
<input type="radio" name="gender" value="female">26-40
<input type="radio" name="gender" value="other">41-65
<input type="radio" name="gender" value="other1">Over 65<br><br>
<input type="submit"  value="submit">
</body>
</html>
