<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Say hello</title>
</head>
<body>
<form>
<p>UserName <input  type='text' placeholder='UserName'></p>	
<p>Password<input type='password' placeholder='password'></p>
<p>Country <input type='text' placeholder='Country'></p>
<p> Web Server<select ><option value="volvo">--Choose a server--</option></select></p>
<p>Please specify yotu role</p>
<input type="radio" name="gender" value="male">Admin<br>
<input type="radio" name="gender" value="female">Engineer<br>
<input type="radio" name="gender" value="other">Manager<br>
<input type="radio" name="gender" value="other1">Guest<br>
<p>Single Sign-on to the following</p>
<input type="checkbox" name="vehicle1" value="Bike">Mail<br>
<input type="checkbox" name="vehicle2" value="Car">PayRoll<br>
<input type="checkbox" name="vehicle3" value="Boat" >Self-Service<br>


<input type="submit"  value="Login">
<input type="submit"  value="Reset">
</body>
</html>
