<html>  
<head>  
<title>success</title>  
</head>  
<body>  

<form method = "post" action = "/success">  
<fieldset>
  <legend>Contact Details</legend>
  Name: <input type="text" name='name1'><br>
  Age: <input type="text" name='age'><br>
  Email Id: <input type="text" name='email'><br>
  Phone Number: <input type="text" name='pn'><br>
  Permanent Address: <input type="text" name='pa'><br>

  <tr><td><input type = "submit" value = "Submit"></td></tr>  
 </fieldset>
</form>  
</body>  
</html>  
